.featuredsection{
    width: 100%;
    padding: 25px 4.5%;
}

.heading{
    display: flex;
    font-size: 27px;
    justify-content: space-between;;
}
.heading p{
    font-weight: 600;
}

.heading button{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    font-size: 21px;
    font-weight: 600;
    color: white;
    border: none;
}