/* Root footer */
.footer {
  width: 100%;
  padding: 25px 4.5%;
  color: #d1d5db;
}

.footer__logo{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 28px;
    font-weight: bold;
}
.footer__logo p{
    cursor: pointer;
}
.footer__logo img{
    width: 70px;
    cursor: pointer;
}

/* Top section */
.footer__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #6b7280;
}

@media (min-width: 768px) {
  .footer__top {
    flex-direction: row;
  }
}

/* Brand column */
.footer__brand {
  max-width: 384px;
}

.footer__logo {
  width: 144px;
  height: auto;
}

.footer__text {
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px;
}

/* App store buttons */
.footer__download {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.footer__btn {
  height: 40px;
  width: auto;
  border: 1px solid #fff;
  border-radius: 4px;
}

/* Links & contact */
.footer__links {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 80px;
}

@media (min-width: 768px) {
  .footer__links {
    justify-content: flex-end;
    gap: 160px;
  }
}

.footer__title {
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__list,
.footer__contact {
  list-style: none;
  font-size: 14px;
  line-height: 20px;
}

.footer__list li:not(:last-child),
.footer__contact p:not(:last-child) {
  margin-bottom: 8px;
}

/* Copyright line */
.footer__copy {
  padding: 16px 0 20px;
  text-align: center;
  font-size: 14px;
}
